.DS_Store
web/images/
*.jpg
*.png
/web/fonts
/nav-includes
/web/js
/scripts/higher-includes.tcz
/web/css/bootstrap.css
/web/css/bootstrap.min.css.map
/web/css/bootstrap-reboot.min.css.map
/web/css/bootstrap-grid.min.css
/web/css/bootstrap-grid.css
/web/css/bootstrap.css.map
/web/css/bootstrap-reboot.css.map
/web/css/bootstrap-grid.css.map
/web/css/bootstrap.min.css
/web/css/bootstrap-reboot.css
/web/css/bootstrap-reboot.min.css
